# Configuración de Servidor
PORT=4000
NODE_ENV=production

# Base de Datos (MongoDB Atlas)
MONGO_URI=mongodb+srv://tu_usuario:tu_password@cluster0.mongodb.net/nombre_bd?retryWrites=true&w=majority

# Seguridad
JWT_SECRET=una_clave_secreta_muy_larga_y_segura_para_produccion

# (Opcional) URL del Frontend desplegado para CORS
FRONTEND_URL=https://tu-sitio.netlify.app
